
doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
          // error-500 start
          .error-wrapper
            .container
              img.img-100(src='../assets/images/other-images/sad.png', alt='')
              .error-heading
                h2.headline.font-primary 500
              .col-md-8.offset-md-2
                p.sub-content
                  | Error #{message}: #{error.status}
                p.sub-content
                  | #{detail}
                p.sub-content
                  | #{error.detail}
              div
                a.btn.btn-primary.btn-lg(href="javascript:window.history.back();") GO BACK
          // error-500 end
        include ../../components/footer-files
