- var datatable             = true;
- var page_datatable        = true;
- var chat_menu             = false;
- var pe7_icon              = true;
- var sidebar_open          = true;
- var sweetalert2           = true;
- var err_handling          = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        .page-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6.main-header
                                    h2
                                      | Password
                                      span
                                        | Self-service
                                    h6.mb-0 Change Your Password
                                .col-lg-6.breadcrumb-right      
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='/home/password-change')
                                         i.pe-7s-home
                                      li.breadcrumb-item.active password-change
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-sm-12
                          .card
                            .card-header
                              h5 Choose your password carefully ...
                            .card-body
                              span
                                | The password you choose must not be too simple to guess and to hard to remember... Password must have:
                                ul
                                    li
                                        i.fa.fa-caret-right.txt-secondary.m-r-10 
                                        | Min 8 characters and Max 100
                                    li 
                                        i.fa.fa-caret-right.txt-secondary.m-r-10 
                                        | Must contain at least one uppercase aon one lowercase character
                                    li
                                        i.fa.fa-caret-right.txt-secondary.m-r-10
                                        | Must contain at least one digit
                                    li 
                                        i.fa.fa-caret-right.txt-secondary.m-r-10
                                        | Must contain a special character
                                    li 
                                        i.fa.fa-caret-right.txt-secondary.m-r-10
                                        | Must NOT contain spaces
                          .card
                            .card-header
                                h5 Change your Password:
                            .card-body
                                form(action="/utils/password-change", method="POST").theme-form.p-10
                                    .form-group
                                      label(for='oldpassword') Old Password:
                                      input.form-control(type='password' placeholder="Type old password ..." name='oldpassword' )
                                    .form-group
                                      label(for='newpassword') New Password:
                                      input.form-control(type='password' placeholder="Choose a new password ..." name='newpassword' )
                                    .form-group
                                      label(for='confirmnewpassword') Confirm Password: 
                                      input.form-control(type='password' placeholder="Confirm new password ..." name='confirmnewpassword' )
                                    .form-group
                                        button.btn.btn-primary(type='submit')
                                            i.pe-7s-refresh
                                            |&nbsp;&nbsp;Change my Password
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
        
